body {
  background-color: rgb(226, 190, 160);
}

.App {
  position: relative;
  min-width: 320px;
  width: 100%;
  text-align: center;
  padding-bottom: 10%;
}

.App-header {
  min-height:30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.basic-multi-select {
  width: 100%;
  margin-top: 5px;
}

.spinner {
  display: flex;
  justify-content: center;
}

.spinner::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px solid #62a4ab60;
  border-top-color: #62a4ab;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
      transform: rotate(1turn);
  }
}
